*{
    padding: 0%;
    margin: 0%;
}

header {
    width: 100%;
    height: 91px;
    background-color: aliceblue;
}

.hola img {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
}
.img1 img {
    width: 141px;
    height: 112px;
    padding-left: 40px;
}

#lat_izq {
    width: 17%;
    height: 100%px;
    background-color: white;
    float: left
}

.d-flex .btn {
    text-decoration: none;
    color: white !important;
    width: 100%;
    font-size: 18px;
    height: 142px;
    background-color: #487cb8;
    padding: 10px;
}
.d-flex:hover .btn:hover {
    background-color: #04f;
    color: #000 !important;
    font-size: 18px;
    font-weight: 700;
}

.d-flex .nav_lg_sg2 {
    text-decoration: none;
    
}

#lat_der {
    width: 83%;
    height: 100%;
    background-color: white;
    float: right
}

#lat_der h1 {
    text-align: center;
    color: black;
    font-size: xxx-large;
    margin-top: 69px;
}

#lat_der .texto {
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 50px 0px 50px 0px;
    width: 100%;
    display: flex;
    justify-content: center !important;
}

.parrafo {
    display: flex;
    justify-content: center;
    width: 50%;
}

.boton {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.boton button {
    background-color: #fae7a7;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.boton a {
    text-decoration: none;
    color: black;
}

.persona img {
    float: right;
    height: 100%;
    width: 20%;
    padding-top: 0%;
}


.img2 img {
    width: 50%;
    height: 50%;
}
.divImg {
    border-right: 2px solid black;
    justify-content: center;
    display: flex;
    padding: 10px 0px 30px 0px
}
.button {
    text-decoration: none;
    color: white !important;
}

footer {
    margin: 10px 0px 0px 0px;
    float: inline-start;
    width: 100%;
    color: rgb(68, 68, 68);
    background-color: rgb(15, 15, 15);
    display: grid;
    justify-content: center;
}
.pie {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }



