*{
    padding: 0%;
    margin: 0%;
}

header {
    width: 100%;
    height: 91px;
    background-color: aliceblue;
}

.hola img {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
}
.img1 img {
    width: 141px;
    height: 112px;
    padding-left: 40px;
}
#lat_izq {
    width: 17%;
    height: 100%px;
    background-color: white;
    float: left;
}
.img2 img {
    width: 50%;
    height: 50%;
}
.divImg {
    justify-content: center;
    display: flex;
    padding: 10px 0px 30px 0px
}
.d-flex .nav_lg_sg2 {
    text-decoration: none;
    
}

.d-flex .btn {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-decoration: none;
    color: white !important;
    width: 100%;
    font-size: 18px;
    height: 142px;
    background-color: #487cb8;
    padding: 10px;
}
.d-flex:hover .btn:hover {
    background-color: #04f;
    color: #000 !important;
    font-size: 18px;
    font-weight: 700;
}

.button {
    text-decoration: none;
    color: white !important;
}


#lat_der {
    width: 83%;
    height: 100%;
    background-color: white;
    float: right;
    border-left: #000 solid 2px;

}

#lat_der h1 {
    text-align: center;
    color: black;
    font-size: xx-large;
    margin: 20px 0px 6px 0px;

}

.textos {
    padding-top: 40px;
    text-align: center;
}

.textos img{
    width: 20% ;
    height: 10%;
    margin: 0px 0px 0px 0px;
}

.textos h3{
    width: 100%;
    height: 10%;
    padding-top: 16px;
 }

 .textos button {
    margin: 0px 10px 0px 10px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #fae7a7;
 }


.bre {
    display: flex;
    justify-content: center;
}

.bre button {
    margin-top: 10%;
    background-color: #fae7a7;
    border-radius: 10px;
    font-size: 20px;
}


footer {
    float: inline-start;
    width: 100%;
    color: rgb(68, 68, 68);
    background-color: rgb(15, 15, 15);
    display: grid;
    justify-content: center;
}
.pie {
    width: 100%;
    display: flex;
    justify-content: center;
}

