* {
    padding: 0%;
    margin: 0%;
}
.registrar {
    background-color: rgba(12, 89, 255, 0.877);
}
div.contP {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 0px 48px !important;
}
div.contS {
    padding: 10px !important;
    margin: 0px 5px 24px 5px !important;
}
.contentP, .sbr {
    color: rgb(0, 0, 0) !important;
}

.contentImg {
    display: flex;
    justify-content: center;
}
.logos {
    padding: 0px;
    height: 140px;
    width: 200px;
}
.y {
    padding: 10px;
    font-size: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.btnEnviar {
    padding: 5px;
    width: 150px;
    color: white;
    text-decoration: none !important;
}
.btn_enviar {
    margin: 10px;
}
footer {
    color: rgb(68, 68, 68);
    background-color: rgb(15, 15, 15);
    display: grid;
    justify-content: center;
}
.pie {
    width: 100%;
    display: flex;
    justify-content: center;
}